body {
    min-width: 980px;
    font-family: 'Roboto', sans-serif;
}
#navBar {
    position: fixed;
    top: 0px;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto auto auto;
    width: 100%;
    min-width: 980px;
    height: 75px;
    align-items: center;
}
.navLinks img {
    display: block;
    height: 1em;
    opacity: 60%;
    margin: 0 8px;
    padding: 7px;
}
.navLinks img:hover {
    opacity: 100%;
    cursor: pointer;
}
.navLinks a {
    text-decoration: none;
    color: black;
    margin: 7px;
    font-size: 0.8em;
    opacity: 80%;
}
.navLinks a:hover {
    text-decoration: underline;
}
#about {
    margin-left: 10px;
}
#signIn a {
    margin-right: 10px;
    background-color: rgb(67, 133, 243);
    color: white;
    padding: 8px 12px;
    font-weight: bold;
    opacity: 100%;
    font-size: 0.85em;
}
#signIn a:hover {
    text-decoration: none;
    cursor: default;
}
#logo {
    margin-top: 150px;
}
#logo img {
    display: block;
    margin: 0 auto;
}
#search {
    text-align: center;
    margin-top: 30px;
}
#searchBar {
    width: 480px;
    padding: 13px 13px 13px 45px;
    background-color: white;
    border: 1px rgb(223 225 229) solid;
    border-radius: 30px;
}
[type="submit"] {
    font-size: 0.90em;
    color: rgb(127 130 134);
    margin: 25px 3.2px;
    padding: 8px 16px;
    background-color: #f3f3f3;
    border: 1px #f3f3f3 solid;
    border-radius: 5px;
}
[type="submit"]:hover {
    cursor: pointer;
    border: 1px rgb(198 198 198) solid;
    color: rgb(34 34 34);
}
#input-container {
    position: relative;
    width: 480px;
    margin: 0 auto;
}
#input-container img {
    display: block;
    position: absolute;
}
#input-container:hover > #searchBar {
    box-shadow: 0px 1px 3px 1px rgb(223 225 229);
}
#mag {
    bottom: 13px;
    left: 17px;
    height: 18px;
    opacity: 50%;
}
#mic {
    right: 15px;
    bottom: 3px;
    padding: 10px;
    height: 20px;
}
#mic:hover {
    cursor: pointer;
}