body {
    min-width: 1275px;
}
#logo img {
    width: 90px;
}
#logo {
    position: absolute;
    left: 22px;
    top: 28px;
}
#search {
    position: absolute;
    left: 160px;
    top: 20px;
}
#searchBar {
    width: 700px;
    padding: 13px 13px 13px 45px;
    border-radius: 30px;
    border: 1px rgb(223 225 229) solid;
    background-color: white;
}
#mag {
    position: absolute;
    right: 18px;
    top: 12px;
    height: 23px;
}
#input-container:hover > #searchBar {
    box-shadow: 0px 1px 3px 1px rgb(223 225 229);
}
#icons {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr auto auto;
    width: 100%;
    min-width: 1275px;
}
#icons img {
    display: block;
    height: 1em;
    opacity: 60%;
    margin: 0 18px;
    padding: 7px;
    position: relative;
    top: 25px;
}
#signIn a {
    margin-right: 40px;
    background-color: rgb(67, 133, 243);
    color: white;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 0.85em;
    text-decoration: none;
    position: relative;
    top: 30px;
}